<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-8NtWZpzhAD3j3Scn/35RW8r/IRyPumFyMn+XhtFmCIQxhT1lQRkJmTfIHsHs8Jwaf18yN0zYXTJ+9Ib/QCH/gw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
        <link rel="shortcut icon" type="image/x-icon" href="http://localhost:5000/static/favicon.ico">
        <title>Sushicat | Un toque felino en cada bocado de sushi</title>
        <style>
          body{
              font-family: tahoma;
              background: #D3F0F5;
          }
          button{
            font-family: tahoma;

          }
          #main-header {
            background: #ffffff;
            color: rgb(152, 224, 253);
            height: 100px;
          }
          #logo {
            height: 40px;
            width: 130px;
          }
          #logoadmin {
            height: 30px;
            width: 120px;
          }
          #navbarMenuHeroA {
            height: 100px;
            width: 50px;
            color: #000;
          }
          .navbar-menu {
            height: 100px;
            width: 50px;
          }
      </style>
    </head>
    <body>
        <section class="hero is-fullheight">
      
          <div class="hero-head">
            <nav class="navbar">
              <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                  <div class="navbar-start">
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                      {% if current_user.is_authenticated and current_user.has_role("ADMINISTRADOR") %}
                        <img id="logoadmin" src="../static/img/NOMBRE1.png " />
                      {% else %}
                        <img id="logo" src="../static/img/NOMBRE1.png " />
                      {% endif %}
                    </a>
                  </div>
                  <div class="navbar-end">
                    {% if not current_user.is_authenticated or current_user.has_role("CLIENTE") %}
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                      <b>Inicio</b>
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.has_role("CLIENTE") %}
                    <a href="{{ url_for('producto.catalogo') }}" class="navbar-item">
                      <b>Platillos</b>
                    </a>
                    <a href="{{ url_for('usuario.modificarperfil') }}" class="navbar-item">
                      <b>Perfil</b>
                    </a>
                    <a href="{{ url_for('usuario.modificarperfil') }}" class="navbar-item">
                      <i class="fas fa-shopping-cart"></i> &nbsp; Carrito
                    </a>
                    {% endif %}
                    <!-- Revisar rol-->
                    {% if current_user.is_authenticated and current_user.has_role("ADMINISTRADOR") %}
                    <a href="{{ url_for('usuario.usuarios') }}" class="navbar-item">
                      <b>Usuarios</b>
                    </a>
                    <a href="{{ url_for('usuario.clientes') }}" class="navbar-item">
                      <b>Clientes</b>
                    </a>
                    <a href="{{ url_for('producto.productos') }}" class="navbar-item">
                      <b>Platillos</b>
                    </a>
                    <a href="{{ url_for('materia.materias') }}" class="navbar-item">
                      <b>Insumos</b>
                    </a>
                    <a href="{{ url_for('proveedor.verproveedores') }}" class="navbar-item">
                      <b>Proveedores</b>
                    </a>
                    <a href="{{ url_for('pedido.pedidosprov') }}" class="navbar-item">
                      <b>Pedidos</b>
                    </a>
                    <a href="{{ url_for('compra.compras') }}" class="navbar-item">
                      <b>Compras</b>
                    </a>
                    <a href="{{ url_for('venta.ventas') }}" class="navbar-item">
                      <b>Ventas</b>
                    </a>
                    <a href="{{ url_for('finanzas.vercostos') }}" class="navbar-item">
                      <b>Finanzas</b>
                    </a>
                    {% endif %}
                    {% if current_user.has_role("ALMACENISTA") and current_user.is_authenticated %}
                    <a href="{{ url_for('materia.materias') }}" class="navbar-item">
                      <b>Insumos</b>
                    </a>
                    <a href="{{ url_for('proveedor.verproveedores') }}" class="navbar-item">
                      <b>Proveedores</b>
                    </a>
                    <a href="{{ url_for('pedido.pedidosprov') }}" class="navbar-item">
                      <b>Pedidos a Proveedor</b>
                    </a>
                    <a href="{{ url_for('compra.compras') }}" class="navbar-item">
                      <b>Compras</b>
                    </a>
                    {% endif %}
                    {% if current_user.has_role("VENDEDOR") and current_user.is_authenticated %}
                    <a href="{{ url_for('producto.productos') }}" class="navbar-item">
                      <b>Platillos</b>
                    </a>
                    <a href="{{ url_for('pedido.pedidoscliente') }}" class="navbar-item">
                      <b>Pedidos de Clientes</b>
                    </a>
                    <a href="{{ url_for('venta.ventas') }}" class="navbar-item">
                      <b>Ventas</b>
                    </a>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('main.conocenos') }}" class="navbar-item">
                      <b>Conócenos</b>
                    </a>
                    <a href="{{ url_for('main.contacto') }}" class="navbar-item">
                      <b>Contacto</b>
                    </a>
                    <a href="{{ url_for('auth.registro') }}" class="navbar-item">
                      <b>Registro</b>
                    </a>
                      <div class="navbar-item">
                        <div class="buttons">
                          <a class="button is-info" href="{{ url_for('auth.login') }}">
                            <i class="fas fa-power-off"></i>&nbsp; Iniciar Sesión
                          </a>
                        </div>
                      </div>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <div class="navbar-item">
                      <div class="buttons">
                        <a class="button is-info" href="{{ url_for('auth.logout') }}">
                          <i class="fas fa-user-times"></i> &nbsp; Cerrar Sesión
                        </a>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="hero-body">
            <div class="container has-text-centered">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </section>
      </body>
</html>