{% extends "base.html" %}

{% block content %}
<div class="is-centered">
  <img src="../static/img/logo.jpg " style="height: 350px;"/>

  <h1 class="title">
    Un toque felino en cada bocado de sushi
  </h1>
  <br><br>
  
  <div class="columns">
    <div class="column is-vcentered">
      <h1 class="subtitle">
        <i>Un toque felino en cada bocado de sushi.</i>
      </h1>
      <img src="https://www.pngarts.com/files/11/Makeup-Cosmetics-Free-PNG-Image.png" style="height: 300px;"/>
    </div>
    <div class="column is-vcentered">
      <h2 class="subtitle">
        <i>Registrate en nuestra tienda en línea para disfrutar de toda la comida japonesa que Sushicat tiene para ti. ¡Y de los gatitos!.</i>
      </h2>
      <img src="https://www.pngmart.com/files/17/Cosmetics-Brushes-Transparent-Background.png" style="height: 300px;"/>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="subtitle">
        <i><b>Busca nuestra tienda física en: </b></i>
      </h2>
      <h2 class="subtitle">
        Geiser 112A Campo Palmyra.<br>
        C.P. 37109 <br>
        León, Guanajuato. México.
      </h2>
    </div>
    <div class="column">
      <h2 class="subtitle">
        <i><b>O comunicate con nosotros: </b></i>
      </h2>
      <h2 class="subtitle">
        4772337489<br>
        sushicat@gmail.com <br>
      </h2>
    </div>
  </div>
</div>
{% endblock %}