{% extends "base.html" %}

{% block content %}
<style>
  #informacion {
    padding: 80px;

  }

  img.derecha {
    float: right;
    width: 400px;
    height: 300px;
  }
  img.izquierda {
    float:left;
    width: 250px;
    height: 180px;
  }
  #imagen {
    width: 380px;
    height: 280px;
  }

  #titulo2 {

    color: rgb(113, 168, 250);
    font-family: cursive;
    font-size: 30px;
  }
  #titulo4 {

color: rgb(250, 168, 113);
font-family: cursive;
font-size: 30px;
}
  #titulo1 {
    size: 50px;
    color: rgb(255, 116, 181);
    font-family: cursive;
    font-size: 50px;
    -webkit-text-stroke: 2px rgb(255, 255, 255);

  }

  #texto {
    font-size: 20px;
    text-align: center;
    color: #000;
    padding-right: 10px;
    ;
  }

  #producto {
    width: 400px;
    height: 300px;
    padding: 20px;
  }

  table {
    font-size: 20px;
    text-align: center;
    color: #000;
    padding-right: 10px;
    align-content: center;
  }

  #tituloproductos {
    background-color: #fd96e3;
    border-radius: 20px;
    color: #0f9fff;
    height: 30px;
    width: 200px;
    text-align: center;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    size: 30px;

  }

  #informacionproducto {
    background-color: #82e4e7;
    border-radius: 10px;
    color: #ffffff;
    height: 130px;
    text-align: center;

  }
  a{
    color: #ff004c;
  }
</style>
<div class="is-centered">
  <img src="../static/img/INICIOS.jpg " style="height: 600px;" />
</div>
<br>
<br>

<div id="informacion" class="columns">
  <div class="column is-6">
    <h5 id="titulo2">BIENVENIDOS A LA TIENDA EN LÍNEA DE SUSHICAT</h5>
    <br>
    <h6 id="texto"> Estamos muy contentos de tenerte aquí. Nuestro objetivo es ofrecerte una experiencia
      gastronómica única e inolvidable con
      nuestro sushi fresco y de alta calidad.
      <br>
      Te invitamos a relajarte, disfrutar y experimentar la cultura culinaria japonesa en nuestro restaurante de sushi.
      <br>
      ¡Gracias por visitarnos! ¡Vive la #SushiCatExperiencia!
    </h6>
  </div>
  <div class="column is-6">
    <img class="derecha" src="../static/img/sushi1.jpg ">
  </div>
</div>
<br>
<br>
<br>
<h5 id="titulo1">PRODUCTOS MÁS VENDIDOS</h5>
<div id="informacion">
  <table class="is-centered">

    <tr>

      <td id="producto">

        <br>
        <img class="imagen" src="../static/img/zarpas.png">
        <br>
        <div id="tituloproductos">
          Zarpas
        </div>

      </td>

      <td id="producto">
        <div id="tituloproductos">
          Rufino
        </div>
        <br>
        <img class="imagen" src="../static/img/Rufino.png ">
        <br>
      </td>

      <td id="producto">

        <br>
        <img class="imagen" src="../static/img/nemo.png ">
        <br>
        <div id="tituloproductos">
          Nemo
        </div>
      </td>

    </tr>


  </table>
</div>

<div id="informacion">
  <p><img class="izquierda" src="../static/img/51772.png">
  <div id="encuadre">
    <h5 id="titulo4">Te invitamos a ver nuestro menú de productos en la sección de 
      <a href="{{ url_for('main.conocenos') }}" >CONÓCENOS</a>,
       en dónde encontrar información de la
      empresa y todos los productos que ofrecemos</h5>
    
  </div>
  </p>
</div>
<br>
<br>
{% endblock %}