{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb has-arrow-separator is-right" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ url_for('usuario.usuarios') }}">Usuarios</a></li>
    <li class="is-active"><a href="#" aria-current="Cambiar contraseña">Cambiar contraseña</a></li>
  </ul>
</nav>
<div class="column is-4 is-offset-4">
  <h3 class="title">Cambiar Contraseña</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/usuario/cambiarcontrasennia">
      <div class="field">
        <label class="label">ID:</label>
        <div class="control">
            <input class="input is-large is-info" type="text" name="id" value="{{id}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Correo Electrónico:</label>
        <div class="control">
          <input class="input is-large is-info" type="email" name="correo" value="{{correo}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Nueva contrasennia:</label>
        <div class="control">
          <input class="input is-large is-info" type="password" name="contrasennia">
        </div>
      </div>
      <button class="button is-block is-danger is-medium is-fullwidth">Cambiar</button>
      <br>
      <a class="button is-block is-info is-medium is-fullwidth" href="{{ url_for('usuario.usuarios') }}">Cancelar</a>

    </form>
  </div>
</div>
{% endblock %}