{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
  <h3 class="title">Modificar Usuario</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/usuario/modificarusuario">

        <div class="field">
          <label>ID:</label>
            <div class="control">
                <input class="input is-medium is-info" type="text" name="id" value="{{id}}" style="text-transform: uppercase;" maxlength="20" readonly>
            </div>
        </div>

      <div class="field">
        <label>Nombre:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="nombre" value="{{nombre}}" style="text-transform: uppercase;" maxlength="20" minlength="2">
        </div>
      </div>

      <div class="field">
        <label>Apellido Paterno:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_paterno" value="{{apellido_paterno}}" style="text-transform: uppercase;" maxlength="30" minlength="2">
        </div>
      </div>

      <div class="field">
        <label>Apellido Materno:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_materno" value="{{apellido_materno}}" style="text-transform: uppercase;" maxlength="30" minlength="2">
        </div>
      </div>

      <div class="field">
        <label>Domicilio:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="domicilio" value="{{domicilio}}" style="text-transform: uppercase;" maxlength="150" minlength="2">
        </div>
      </div>

      <div class="field">
        <label>Fecha de Nacimiento:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="fecha_nacimiento" value="{{fecha_nacimiento}}" style="text-transform: uppercase;" maxlength="10" minlength="10">
        </div>
      </div>

      <div class="field">
        <label>RFC:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="rfc" value="{{rfc}}" autofocus="" maxlength="13" minlength="13">
        </div>
      </div>

      <div class="field">
        <label>Teléfono:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="telefono" value="{{telefono}}" autofocus="" maxlength="10" minlength="10">
        </div>
      </div>

      <div class="field">
        <label>Correo Electrónico:</label>
        <div class="control">
          <input class="input is-medium is-info" type="email" name="correo" value="{{correo}}" autofocus="" maxlength="50" minlength="5">
        </div>
      </div>

      <button class="button is-block is-warning is-medium is-fullwidth">Modificar</button>
      <br>
      <a class="button is-block is-danger is-medium is-fullwidth" href="{{ url_for('usuario.usuarios') }}">Cancelar</a>
      
    </form>
  </div>
</div>
{% endblock %}