{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb has-arrow-separator is-right" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ url_for('usuario.usuarios') }}">Usuarios</a></li>
    <li class="is-active"><a href="#" aria-current="Modificar Usuario">Modificar Usuario</a></li>
  </ul>
</nav>
<div class="column is-6 is-offset-3">
  <h3 class="title">Modificar Usuario</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/usuario/modificarusuario">

        <div class="field">
          <label class="label">ID:</label>
            <div class="control">
                <input class="input is-medium is-info" type="text" name="id" value="{{id}}" style="text-transform: uppercase;" maxlength="20" readonly>
            </div>
        </div>

      <div class="field">
        <label class="label">Nombre:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="nombre" value="{{nombre}}" style="text-transform: uppercase;" maxlength="20" minlength="2">
        </div>
      </div>

      <div class="field">
        <label class="label">Apellido Paterno:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_paterno" value="{{apellido_paterno}}" style="text-transform: uppercase;" maxlength="30" minlength="2">
        </div>
      </div>

      <div class="field">
        <label class="label">Apellido Materno:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_materno" value="{{apellido_materno}}" style="text-transform: uppercase;" maxlength="30" minlength="2">
        </div>
      </div>

      <div class="field">
        <label class="label">Domicilio:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="domicilio" value="{{domicilio}}" style="text-transform: uppercase;" maxlength="150" minlength="2">
        </div>
      </div>

      <div class="field">
        <label class="label">Fecha de Nacimiento (AAAA/MM/DD):</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="fecha_nacimiento" value="{{fecha_nacimiento}}" style="text-transform: uppercase;" maxlength="10" minlength="10">
        </div>
      </div>

      <div class="field">
        <label class="label">RFC:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="rfc" value="{{rfc}}" autofocus="" maxlength="13" minlength="13">
        </div>
      </div>

      <div class="field">
        <label class="label">Teléfono:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="telefono" value="{{telefono}}" autofocus="" maxlength="10" minlength="10">
        </div>
      </div>

      <div class="field">
        <label class="label">Correo Electrónico:</label>
        <div class="control">
          <input class="input is-medium is-info" type="email" name="correo" value="{{correo}}" autofocus="" maxlength="50" minlength="5">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="rol_p" value="{{rol_id}}" autofocus="" readonly hidden>
        </div>
      </div>

      <div class="field">
        <label class="label">Tipo de Usuario:</label>
        <div class="control">
            <div class="select is-rounded">
                <select name="rol" id="rol">
                  <option value="{{rol_id}}" selected>{{rol}}</option>
                  <option value="1">ADMINISTRADOR</option>
                  <option value="2">ALMACENISTA</option>
                  <option value="3">VENDEDOR</option>
                </select>
            </div>
        </div>
      </div>

      <button class="button is-block is-warning is-medium is-fullwidth">Modificar</button>
      <br>
      <a class="button is-block is-danger is-medium is-fullwidth" href="{{ url_for('usuario.usuarios') }}">Cancelar</a>
      
    </form>
  </div>
</div>
{% endblock %}