{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb has-arrow-separator is-right" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ url_for('pedido.pedidosprov') }}">Pedidos</a></li>
        <li class="is-active"><a href="#" aria-current="Detalle de pedido">Detalle de pedido</a></li>
    </ul>
</nav>
<h3 class="title">Detalles de Pedido</h3><br>
<div class="columns">
    <div class="column is-centered is-offset-2">
        <table class="table table is-striped is-fullwidth is-narrow is-hoverable">
            <thead>
                <tr>
                    <th colspan="2"  class="has-text-info-dark">PEDIDO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="is-vcentered"><b>ID</b></td>
                    <td class="is-vcentered">{{pedido.id}}</td>
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Fecha</b></td>
                    <td class="is-vcentered">{{pedido.fecha}}</td>
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Almacenista</b></td>
                    <td class="is-vcentered">{{pedido.user.nombre + " " + pedido.user.apellido_paterno + " " + pedido.user.apellido_materno}}</td>
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Total</b></td>
                    <td class="is-vcentered">{{pedido.total}}</td>
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Estatus</b></td>
                    {%if pedido.status == 1%}
                        <td class="is-vcentered has-text-primary-dark">Registrado</td>
                    {%endif%}
                    {%if pedido.status == 2%}
                        <td class="is-vcentered has-text-warning-dark">En proceso</td>
                    {%endif%}
                    {%if pedido.status == 3%}
                        <td class="is-vcentered has-text-info-dark">Entregado</td>
                    {%endif%}
                    {%if pedido.status == 0%}
                        <td class="is-vcentered has-text-danger-dark">Cancelado</td>
                    {%endif%}
                </tr>
                <tr>
                    {% if current_user.has_role("ALMACENISTA") and mostrar == 1 and pedido.status == 1 %}
                    <td colspan="2" class="is-vcentered"><a href="cancelarpedidoprov?id={{pedido.id}}" class="button is-danger">Cancelar</a> <a href="{{url_for('pedido.modificarpedidoprov', id=pedido.id)}}" class="button is-primary">Modificar</a></td>
                    {%endif%}
                </tr>
                <tr>
                    {% if current_user.has_role("ALMACENISTA") and pedido.status == 1 %}
                        <td colspan="2" class="is-vcentered"><a href="hacerpedidoprov?id={{pedido.id}}" class="button is-warning">Realizar</a></td>
                    {%endif%}
                    {% if current_user.has_role("ALMACENISTA") and pedido.status == 2 %}
                        <td colspan="2" class="is-vcentered"><a href="entregarpedidoprov?id={{pedido.id}}" class="button is-primary">Entregar</a></td>
                    {%endif%}
                </tr>
            </tbody>
        </table>
        <br>
        <div class="buttons is-centered">
            <a href="{{ url_for('pedido.pedidosprov') }}" class="button is-info is-medium">Volver</a>
        </div>
    </div>
    <div class="column is-centered">
        <table class="table table is-striped is-fullwidth is-narrow is-hoverable">
            <thead>
                <tr>
                    <th colspan="4" class="has-text-info-dark">INSUMOS A PEDIR</th>
                </tr>
                <tr>
                    <th>Insumo</th>
                    <th>Unidad</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {%for row in detalles%}
                <tr>
                    <td class="is-vcentered">{{row.materia_prima.nombre}}</td>
                    <td class="is-vcentered">{{row.medida}}</td>
                    <td class="is-vcentered">{{row.cantidad}}</td>
                    <td class="is-vcentered">{{row.subtotal}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <br>
        <table class="table table is-striped is-fullwidth is-narrow is-hoverable">
            <thead>
                <tr>
                    <th colspan="6" class="has-text-info-dark">PROVEEDORES ENCARGADOS</th>
                </tr>
                <tr>
                    <th>Insumo</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Empresa</th>
                    <th>Télefono</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                {%for row in detalles%}
                <tr>
                    <td class="is-vcentered">{{row.materia_prima.nombre}}</td>
                    <td class="is-vcentered">{{row.materia_prima.proveedor.nombre + " " + row.materia_prima.proveedor.apellido_paterno + " " + row.materia_prima.proveedor.apellido_materno}}</td>
                    <td class="is-vcentered">{{row.materia_prima.proveedor.direccion}}</td>
                    <td class="is-vcentered">{{row.materia_prima.proveedor.empresa}}</td>
                    <td class="is-vcentered">{{row.materia_prima.proveedor.telefono}}</td>
                    <td class="is-vcentered">{{row.materia_prima.proveedor.correo}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        
    </div>
</div>

{% endblock %}