{% extends "base.html" %}

{% block content %}
<h3 class="title">Detalles de Pedido</h3><br>
<div class="columns">
    <div class="column is-centered is-offset-2">
        <table class="table is-striped is-fullwidth is-narrow is-hoverable">
            <thead>
                <tr>
                    <th colspan="2" class="has-text-info-dark">PEDIDO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="is-vcentered"><b>ID</b></td>
                    <td class="is-vcentered">{{pedido.id}}</td>
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Fecha</b></td>
                    <td class="is-vcentered">{{pedido.fecha}}</td>
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Cliente</b></td>
                    <td class="is-vcentered">{{pedido.user.nombre + " " + pedido.user.apellido_paterno + " " + pedido.user.apellido_materno}}</td>
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Domicilio</b></td>
                    <td class="is-vcentered">{{pedido.domicilio_entrega}}</td>
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Entrega</b></td>
                    {%if pedido.tipo_entrega == True%}
                        <td class="is-vcentered">A Domicilio</td>
                    {%endif%}
                    {%if pedido.tipo_entrega == False%}
                        <td class="is-vcentered">En Restaurante</td>
                    {%endif%}
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Pago</b></td>
                    {%if pedido.forma_pago == True%}
                        <td class="is-vcentered">Efectivo</td>
                    {%endif%}
                    {%if pedido.forma_pago == False%}
                        <td class="is-vcentered">Transferencia</td>
                    {%endif%}
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Total</b></td>
                    <td class="is-vcentered">{{pedido.total}}</td>
                </tr>
                <tr>
                    <td class="is-vcentered"><b>Estatus</b></td>
                    {%if pedido.status == 1%}
                        <td class="is-vcentered has-text-primary-dark">Registrado</td>
                    {%endif%}
                    {%if pedido.status == 2%}
                        <td class="is-vcentered has-text-warning-dark">En proceso</td>
                    {%endif%}
                    {%if pedido.status == 3%}
                        <td class="is-vcentered has-text-info-dark">Entregado</td>
                    {%endif%}
                    {%if pedido.status == 0%}
                        <td class="is-vcentered has-text-danger-dark">Cancelado</td>
                    {%endif%}
                </tr>
                <tr>
                    {% if current_user.has_role("VENDEDOR") and pedido.status == 1 and mostrar == 1%}
                        <td colspan="2" class="is-vcentered"><a href="prepararpedido?id={{pedido.id}}" class="button is-warning">Preparar</a> <a href="cancelarpedido?id={{pedido.id}}" class="button is-danger">Cancelar</a></td>
                    {% endif %}
                    {% if current_user.has_role("VENDEDOR") and pedido.status == 2 %}
                        <td colspan="2" class="is-vcentered"><a href="entregarpedido?id={{pedido.id}}" class="button is-primary">Entregar</a></td>
                    {%endif%}
                </tr>
            </tbody>
        </table>
        <br>
        <div class="buttons is-centered">
            <a href="{{ url_for('pedido.pedidoscliente') }}" class="button is-info is-medium">Volver</a>
        </div>
    </div>
    <div class="column is-centered">
        <table class="table is-striped is-fullwidth is-narrow is-hoverable">
            <thead>
                <tr>
                    <th colspan="3" class="has-text-info-dark">PLATILLOS A PREPARAR</th>
                </tr>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {%for row in detalles%}
                <tr>
                    <td class="is-vcentered">{{row.producto.nombre}}</td>
                    <td class="is-vcentered">{{row.cantidad}}</td>
                    <td class="is-vcentered">{{row.subtotal}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <br>
        <table class="table table is-striped is-fullwidth is-narrow is-hoverable">
            <thead>
                <tr>
                    <th colspan="6" class="has-text-info-dark">DATOS DEL CLIENTE</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="is-vcentered">{{pedido.user.id}}</td>
                    <td class="is-vcentered">{{pedido.user.nombre + " " + pedido.user.apellido_paterno + " " + pedido.user.apellido_materno}}</td>
                    <td class="is-vcentered">{{pedido.domicilio_entrega}}</td>
                    <td class="is-vcentered">{{pedido.user.telefono}}</td>
                    <td class="is-vcentered">{{pedido.user.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}