{% extends "base.html" %}

{% block content %}
<h3 class="title">Pedidos a Proveedores</h3><br>
<div class="buttons">
    {% if current_user.has_role("ALMACENISTA")%}
    <a href="{{ url_for('pedido.registrarpedidoprov') }}" class="button is-success">Nuevo Pedido</a>
    {%endif%}
    &nbsp;&nbsp;&nbsp;
    <form method="POST" action="/pedido/pedidosestatusprov">
        <div class="field has-addons">
            <div class="control">
                <div class="select">
                    <select name="parametro" id="parametro">
                      <option value=1>Registrado</option>
                      <option value=2>En proceso</option>
                      <option value=3>Entregado</option>
                      <option value=0>Cancelado</option>
                    </select>
                </div>
            </div>
            <div class="control">
                <button class="button is-primary">
                    <span><i class="fas fa-search"></i></span>
                    <span>&nbsp;&nbsp;Estatus</span>
                </button>
            </div>
        </div>
    </form>
</div>

<br>
<div class="columns is-mobile is-centered">
    <table class="table is-striped is-fullwidth is-narrow is-hoverable">
    <thead>
         <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Almacenista</th>
            <th>Total</th>
            <th>Estatus</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        {%for row in pedidos%}
        <tr>
            <td class="is-vcentered">{{row.id}}</td>
            <td class="is-vcentered">{{row.fecha}}</td>
            <td class="is-vcentered">{{row.user.nombre + " " + row.user.apellido_paterno + " " + row.user.apellido_materno}}</td>
            <td class="is-vcentered">${{row.total}}</td>
            {%if row.status == 1%}
            <td class="is-vcentered has-text-primary-dark">Registrado</td>
            {%endif%}
            {%if row.status == 2%}
            <td class="is-vcentered has-text-warning-dark">En proceso</td>
            {%endif%}
            {%if row.status == 3%}
            <td class="is-vcentered has-text-info-dark">Entregado</td>
            {%endif%}
            {%if row.status == 0%}
            <td class="is-vcentered has-text-danger-dark">Cancelado</td>
            {%endif%}
            <td class="is-vcentered"><a href="detallesprov?id={{row.id}}" class="button is-primary">Detalles</a></td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

{% endblock %}