{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb has-arrow-separator is-right" aria-label="breadcrumbs">
    <ul>
      <li><a href="{{ url_for('finanzas.vercostos') }}">Finanzas</a></li>
      <li class="is-active"><a href="#" aria-current="Reporte">Reporte</a></li>
    </ul>
</nav>
<h3 class="title">Reporte de ganancias {{annio}}</h3><br>
<div class="buttons">
    <a href="{{ url_for('finanzas.vercostos') }}" class="button is-info is-right">Ver todos los gastos</a></td>
</div>

<br>
<div class="columns is-mobile is-centered">
    <table class="table table is-striped">
    <thead>
         <tr>
            <th>Mes</th>
            <th>Ganancias</th>
            <th>Pérdidas</th>
            <th>Mermas</th>
            <th>Ganancias Netas</th>
        </tr>
    </thead>
    <tbody>
        {%for row in reporte%}
        <tr>
            <td class="is-vcentered">{{row[0]}}</td>
            <td class="is-vcentered">{{row[1]}}</td>
            <td class="is-vcentered">{{row[2]}}</td>
            <td class="is-vcentered">{{row[3]}}</td>
            <td class="is-vcentered">{{row[4]}}</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

{% endblock %}