{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
  <br>
  <h3 class="title">Eliminar Proveedor</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/proveedor/eliminarproveedor">

      <div class="field">
        <label class="label">ID:</label>
        <div class="control">
            <input class="input is-medium is-info" type="text" name="id" value="{{id}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Nombre:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="nombre" value="{{nombre}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Apellido Paterno:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_paterno" value="{{apellido_paterno}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Apellido Materno:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_materno" value="{{apellido_materno}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Empresa:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="empresa" value="{{empresa}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">RFC:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="rfc" value="{{rfc}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Dirección:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="direccion" value="{{direccion}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Teléfono:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="telefono" value="{{telefono}}" autofocus="" readonly>
        </div>
      </div> 

      <div class="field">
        <label class="label">Correo Electrónico:</label>
        <div class="control">
          <input class="input is-medium is-info" type="email" name="correo" value="{{correo}}" autofocus="" readonly>
        </div>
      </div>

      <button class="button is-block is-danger is-medium is-fullwidth">Eliminar</button>
      <br>
      <a class="button is-block is-info is-medium is-fullwidth" href="{{ url_for('proveedor.verproveedores') }}">Cancelar</a>

    </form>
  </div>
</div>
{% endblock %}