{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
  <br>
  <h3 class="title">Eliminar Proveedor</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/proveedor/eliminarproveedor">

      <div class="field">
        <div class="control">
            <input class="input is-medium is-info" type="text" name="id" placeholder="ID" value="{{id}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="nombre" placeholder="Nombre" value="{{nombre}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_paterno" placeholder="Apellido Paterno" value="{{apellido_paterno}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_materno" placeholder="Apellido Materno" value="{{apellido_materno}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="empresa" placeholder="Empresa" value="{{empresa}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="rfc" placeholder="RFC" value="{{rfc}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="direccion" placeholder="Direccion" value="{{direccion}}" autofocus="" readonly>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="telefono" placeholder="Teléfono" value="{{telefono}}" autofocus="" readonly>
        </div>
      </div> 

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="email" name="correo" placeholder="Correo Electronico" value="{{correo}}" autofocus="" readonly>
        </div>
      </div>

      <button class="button is-block is-warning is-medium is-fullwidth">Eliminar</button>
    </form>
  </div>
</div>
{% endblock %}