{% extends "base.html" %}

{% block content %}
<div class="buttons">
    <a href="{{ url_for('proveedor.registroproveedor') }}" class="button is-success is-right">Agregar un nuevo proveedor</a></td>
    <a href="{{ url_for('proveedor.verproveedores') }}" class="button is-info is-right">Ver todos los proveedores</a></td>
</div>
<br>
<div class="columns is-mobile is-centered">
    <table class="table table is-striped">
    <thead>
         <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Empresa</th>
            <th>RFC</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Eliminar</th>
            <th>Modificar</th>
        </tr>
    </thead>
    <tbody>
        {%for row in proveedores%}
        <tr>
            <td class="is-vcentered">{{row.id}}</td>
            <td class="is-vcentered">{{row.nombre + " " + row.apellido_paterno + " " + row.apellido_materno}}</td>
            <td class="is-vcentered">{{row.direccion}}</td>
            <td class="is-vcentered">{{row.empresa}}</td>
            <td class="is-vcentered">{{row.rfc}}</td>
            <td class="is-vcentered">{{row.telefono}}</td>
            <td class="is-vcentered">{{row.correo}}</td>
            {%if row.status == 1%}
                <td class="is-vcentered"><a href="eliminarproveedor?id={{row.id}}" class="button is-danger">Eliminar</a></td>
                <td class="is-vcentered"><a href="modificarproveedor?id={{row.id}}" class="button is-info"></i>Modificar</a></td>
            {%endif%}
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

{% endblock %}