{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb has-arrow-separator is-right" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ url_for('proveedor.verproveedores') }}">Proveedores</a></li>
        <li class="is-active"><a href="#" aria-current="Proveedores inactivos">Proveedores inactivos</a></li>
    </ul>
</nav>
<h3 class="title">Proveedores Inactivos</h3><br>
<div class="buttons">
    {% if current_user.has_role("ADMINISTRADOR") %}
    <a href="{{ url_for('proveedor.registroproveedor') }}" class="button is-success is-right">Agregar un nuevo proveedor</a></td>
    {% endif %}
    <a href="{{ url_for('proveedor.verproveedores') }}" class="button is-info is-right">Ver los proveedores activos</a></td>
</div>
<br>
<div class="columns is-mobile is-centered">
    <table class="table table is-striped is-fullwidth is-narrow is-hoverable">
    <thead>
         <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Empresa</th>
            <th>RFC</th>
            <th>Telefono</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        {%for row in proveedores%}
        <tr>
            <td class="is-vcentered">{{row.id}}</td>
            <td class="is-vcentered">{{row.nombre + " " + row.apellido_paterno + " " + row.apellido_materno}}</td>
            <td class="is-vcentered">{{row.direccion}}</td>
            <td class="is-vcentered">{{row.empresa}}</td>
            <td class="is-vcentered">{{row.rfc}}</td>
            <td class="is-vcentered">{{row.telefono}}</td>
            <td class="is-vcentered">{{row.correo}}</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

{% endblock %}