{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
  <br>
  <h3 class="title">Registro de Proveedor</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/proveedor/registroproveedor">

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="nombre" placeholder="Nombre" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_paterno" placeholder="Apellido Paterno" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_materno" placeholder="Apellido Materno" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="empresa" placeholder="Empresa" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="rfc" placeholder="RFC" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="direccion" placeholder="Direccion" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="telefono" placeholder="Teléfono" autofocus="">
        </div>
      </div> 

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="email" name="correo" placeholder="Correo Electronico" autofocus="">
        </div>
      </div>

      <button class="button is-block is-info is-medium is-fullwidth">Registrar Proveedor</button>
    </form>
  </div>
</div>
{% endblock %}