{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
  <br>
  <h3 class="title">Registro de Proveedor</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/proveedor/registroproveedor">

      <div class="field">
        <label class="label">Nombre:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="nombre" style="text-transform: uppercase;" maxlength="20" minlength="2">
        </div>
      </div>

      <div class="field">
        <label class="label">Apellido Paterno:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_paterno" style="text-transform: uppercase;" maxlength="30" minlength="2">
        </div>
      </div>

      <div class="field">
        <label class="label">Apellido Materno:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_materno" style="text-transform: uppercase;" maxlength="30" minlength="2">
        </div>
      </div>

      <div class="field">
        <label class="label">Empresa:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="empresa" style="text-transform: uppercase;" maxlength="20" minlength="2">
        </div>
      </div>

      <div class="field">
        <label class="label">RFC:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="rfc" style="text-transform: uppercase;" maxlength="13">
        </div>
      </div>

      <div class="field">
        <label class="label">Dirección:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="direccion" style="text-transform: uppercase;" maxlength="150">
        </div>
      </div>

      <div class="field">
        <label class="label">Teléfono:</label>
        <div class="control">
          <input class="input is-medium is-info" type="number" name="telefono" style="text-transform: uppercase;" maxlength="10" minlength="10">
        </div>
      </div> 

      <div class="field">
        <label class="label">Correo Electrónico:</label>
        <div class="control">
          <input class="input is-medium is-info" type="email" name="correo" maxlength="50">
        </div>
      </div>

      <button class="button is-block is-info is-medium is-fullwidth">Registrar Proveedor</button>
      <br>
      <a class="button is-block is-danger is-medium is-fullwidth" href="{{ url_for('proveedor.verproveedores') }}">Cancelar</a>

    </form>
  </div>
</div>
{% endblock %}