{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb has-arrow-separator is-right" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ url_for('materia.materias') }}">Insumos</a></li>
    <li class="is-active"><a href="#" aria-current="Eliminar insumo">Eliminar insumo</a></li>
  </ul>
</nav>
<div class="column is-6 is-offset-3">
  <br>
  <h3 class="title">Eliminación de Insumos</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/materia/eliminarmateria">

        <div class="field">
            <label class="label">ID:</label>
            <div class="control">
              <input class="input is-medium is-info" type="text" name="id" style="text-transform: uppercase;" value="{{id}}" readonly>
            </div>
        </div>

      <div class="field">
        <label class="label">Nombre:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="nombre" style="text-transform: uppercase;" maxlength="20" value="{{nombre}}" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Descripción:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="descripcion" style="text-transform: uppercase;" maxlength="100" value="{{descripcion}}" readonly>
        </div>
      </div>

      <label class="label">Precio por Proveedor:</label>
      <div class="field has-addons">
        <p class="control">
          <span class="button is-static is-medium">
            $
          </span>
        </p>
        <p class="control is-expanded">
          <input class="input is-medium is-info" type="number" min="1" max="1000"  name="precio" step="any" value="{{precio}}" readonly>
        </p>
      </div>

      <div class="field">
        <label class="label">Perecidad esperada:</label>
        <div class="control">
            <input class="input is-medium is-info" type="text" name="perecidad" style="text-transform: uppercase;" maxlength="100" value="{{perecidad}}" readonly>
          </div>
      </div>

      <div class="field">
        <label class="label">Cantidad en stock:</label>
        <div class="control">
          <input class="input is-medium is-info" type="number" name="stock" min="1" max="1000" step="1" value="{{stock}}" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Cantidad Mínima:</label>
        <div class="control">
          <input class="input is-medium is-info" type="number" name="cant_min" min="1" max="1000" step="1" value="{{cant_min}}" readonly>
        </div>
      </div>
      

      <div class="field">
        <label class="label">Cantidad Máxima:</label>
        <div class="control">
          <input class="input is-medium is-info" type="number" name="cant_max" min="1" max="1000" step="1" value="{{cant_max}}" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Unidad de medida:</label>
        <div class="control">
            <input class="input is-medium is-info" type="text" name="medida" style="text-transform: uppercase;" maxlength="100" value="{{medida}}" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Proveedor:</label>
        <div class="control">
            <input class="input is-medium is-info" type="text" name="proveedor" style="text-transform: uppercase;" maxlength="100" value="{{proveedor_empresa}}" readonly>
        </div>
      </div>

      <button class="button is-block is-danger is-medium is-fullwidth">Eliminar Insumo</button>
      <br>
      <a class="button is-block is-info is-medium is-fullwidth" href="{{ url_for('materia.materias') }}">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}