{% extends "base.html" %}

{% block content %}
<div class="buttons">
    <a href="{{ url_for('materia.registrarmateria') }}" class="button is-success is-right">Agregar nuevo insumo</a></td>
    <a href="{{ url_for('materia.materias') }}" class="button is-info is-right">Ver todos los insumos </a></td>
</div>

<br>
<div class="columns is-mobile is-centered">
    <table class="table table is-striped">
    <thead>
         <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Perecidad</th>
            <th>Medida</th>
            <th>Precio</th>
            <th>Proveedor</th>
            <th>Eliminar</th>
            <th>Modificar</th>
        </tr>
    </thead>
    <tbody>
        {%for row in materias%}
        <tr>
            <td class="is-vcentered">{{row.id}}</td>
            <td class="is-vcentered">{{row.nombre}}</td>
            <td class="is-vcentered">{{row.descripcion}}</td>
            <td class="is-vcentered">{{row.perecidad}}</td>
            <td class="is-vcentered">{{row.medida}}</td>
            <td class="is-vcentered">{{row.precio}}</td>
            <td class="is-vcentered">{{row.proveedor.empresa}}</td>
            {%if row.status == 1%}
            <td class="is-vcentered"><a href="eliminarmateria?id={{row.id}}" class="button is-danger">Eliminar</a></td>
            <td class="is-vcentered"><a href="modificarmateria?id={{row.id}}" class="button is-info"></i>Modificar</a></td>
            {%endif%}
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

{% endblock %}