{% extends "base.html" %}

{% block content %}
<h3 class="title">Insumos</h3><br>
<div class="buttons">
    {% if current_user.has_role("ADMINISTRADOR") %}
    <a href="{{ url_for('materia.registrarmateria') }}" class="button is-success is-right">Agregar nuevo insumo</a></td>
    {% endif %}
    <a href="{{ url_for('materia.materiasinactivas') }}" class="button is-info is-right">Ver insumos inactivos </a></td>
    <form method="POST" action="/materia/buscarmateria">
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" name="parametro">
            </div>
            <div class="control">
                <button class="button is-info">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>

<br>
<div class="columns is-mobile is-centered">
    <table class="table table is-striped is-fullwidth is-narrow is-hoverable">
    <thead>
         <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Perecidad</th>
            <th>Stock</th>
            <th>Mínimo</th>
            <th>Máximo</th>
            <th>Medida</th>
            <th>Precio</th>
            <th>Proveedor</th>
            {% if current_user.has_role("ADMINISTRADOR") %}
            <th>Eliminar</th>
            <th>Modificar</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {%for row in materias%}
        <tr>
            <td class="is-vcentered">{{row.id}}</td>
            <td class="is-vcentered">{{row.nombre}}</td>
            <td class="is-vcentered">{{row.descripcion}}</td>
            <td class="is-vcentered">{{row.perecidad}}</td>
            <td class="is-vcentered">{{row.stock}}</td>
            <td class="is-vcentered">{{row.cant_min}}</td>
            <td class="is-vcentered">{{row.cant_max}}</td>
            <td class="is-vcentered">{{row.medida}}</td>
            <td class="is-vcentered">{{row.precio}}</td>
            <td class="is-vcentered">{{row.proveedor.empresa}}</td>
            {% if current_user.has_role("ADMINISTRADOR") %}
            <td class="is-vcentered"><a href="eliminarmateria?id={{row.id}}" class="button is-danger">Eliminar</a></td>
            <td class="is-vcentered"><a href="modificarmateria?id={{row.id}}" class="button is-info"></i>Modificar</a></td>
            {% endif %}
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

{% endblock %}