{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb has-arrow-separator is-right" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{ url_for('materia.materias') }}">Insumos</a></li>
    <li class="is-active"><a href="#" aria-current="Registrar nuevo insumo">Registrar nuevo insumo</a></li>
  </ul>
</nav>
<div class="column is-6 is-offset-3">
  <br>
  <h3 class="title">Registro de Insumos</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/materia/registrarmateria">

      <div class="field">
        <label class="label">Nombre:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="nombre" style="text-transform: uppercase;" maxlength="20" autofocus pattern="[a-zA-Z]+" title="Solo se admiten letras" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Descripción:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="descripcion" style="text-transform: uppercase;" maxlength="100" pattern="[A-Za-z0-9.]*" required>
        </div>
      </div>

      <label class="label">Precio por Proveedor:</label>
      <div class="field has-addons">
        <p class="control">
          <span class="button is-static is-medium">
            $
          </span>
        </p>
        <p class="control is-expanded">
          <input class="input is-medium is-info" type="number" min="1" max="1000"  name="precio" step="any" required pattern="[0-9\.]*" title="Solo se permiten números">
        </p>
      </div>

      <div class="field">
        <label class="label">Perecidad esperada:</label>
        <div class="control">
            <div class="select is-rounded">
                <select name="perecidad" id="perecidad" required>
                  <option value="DIARIA">Diaria</option>
                  <option value="TERCER DIA">Cada tercer día</option>
                  <option value="SEMANAL">Semanal</option>
                  <option value="MENSUAL">Mensual</option>
                  <option value="BIMESTRAL">Bimestral</option>
                  <option value="CUATRIMESTRAL">Cuatrimestral</option>
                  <option value="SEMESTRAL">Semestral</option>
                  <option value="OCTOMESTRAL">Octomestral</option>
                  <option value="ANUAL">Anual</option>
                  <option value="SIN PERECIDAD">Sin perecidad</option>
                </select>
            </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Stock actual:</label>
        <div class="control">
          <input class="input is-medium is-info" type="number" name="stock" min="1" max="1000" step="1" pattern="\d+" title="Solo se admiten números" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Cantidad Mínima:</label>
        <div class="control">
          <input class="input is-medium is-info" type="number" name="cant_min" min="1" max="1000" step="1" pattern="\d+" title="Solo se admiten números" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Cantidad Máxima:</label>
        <div class="control">
          <input class="input is-medium is-info" type="number" name="cant_max" min="1" max="1000" step="1" pattern="\d+" title="Solo se admiten números" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Unidad de medida:</label>
        <div class="control">
            <div class="select is-rounded">
                <select name="medida" id="medida" required>
                  <option value="KG">Kilogramos</option>
                  <option value="GR">Gramos</option>
                  <option value="L">Litros</option>
                  <option value="ML">Mililitros</option>
                  <option value="OZ">Onzas</option>
                  <option value="UNIDAD">Unidades</option>
                  <option value="HOJA">Hojas</option>
                </select>
            </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Proveedor:</label>
        <div class="control">
            <div class="select is-rounded">
                <select name="proveedor" id="proveedor" required>
                    {%for row in proveedores%}
                    <option value="{{row.id}}">{{row.empresa}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
      </div>

      <button class="button is-block is-info is-medium is-fullwidth">Registrar Insumo</button>
      <br>
      <a class="button is-block is-danger is-medium is-fullwidth" href="{{ url_for('materia.materias') }}">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}