{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb has-arrow-separator is-right" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ url_for('venta.ventas') }}">Ventas</a></li>
        <li class="is-active"><a href="#" aria-current="Ventas encontradas">Ventas encontradas</a></li>
    </ul>
</nav>
<h3 class="title">Ventas Encontradas</h3><br>
<div class="buttons">
    <a href="{{ url_for('venta.ventas') }}" class="button is-info is-right">Ver todos las ventas </a></td>
</div>

<br>
<div class="columns is-mobile is-centered">
    <table class="table table is-striped is-fullwidth is-narrow is-hoverable">
    <thead>
         <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>ID Pedido</th>
            <th>Vendedor</th>
            <th>Total</th>
            <th>Detalles</th>
        </tr>
    </thead>
    <tbody>
        {%for row in ventas%}
        <tr>
            <td class="is-vcentered">{{row.id}}</td>
            <td class="is-vcentered">{{row.fecha}}</td>
            <td class="is-vcentered">{{row.pedido_id}}</td>
            <td class="is-vcentered">{{row.user.nombre + " " + row.user.apellido_paterno + " " + row.user.apellido_materno}}</td>
            <td class="is-vcentered">${{row.total}}</td>
            <td><a href="verdetalles?id={{row.pedido_id}}" class="button is-primary">Ver pedido</a></td></td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

{% endblock %}