{% extends "base.html" %}

{% block content %}

<a href="" class="button is-success is-right">Realizar Pedido</a></td> <br> <br>

{% from '_macros.html' import render_field %}

<div class="columns is-multiline">
  {% for producto in productos %}
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <span class="card-title">{{producto['nombre']}}</span>
      </div>
      <div class="card-content">
        <p><strong>Descripción:</strong> {{producto['descripcion']}}</p>
        <p><strong>Precio:</strong> {{producto['precio']}}</p>
        <form method="post" action="">
          {{ producto['form'].hidden_tag() }}
          <label class="label">Cantidad a ordenar:</label>
          {{ producto['form'].cantidad(class="input is-medium is-info") }}
          {{ producto['form'].id_producto(class="btn btn-primary") }} <br> <br>
          {{ producto['form'].save(class="button is-block is-info is-medium is-fullwidth") }} <br>
        </form>
        <a class="button is-block is-danger is-medium is-fullwidth" href="{{ url_for('pedido.eliminarProductoCarrito', id_producto=producto['id'])}}">Eliminar</a>
      </div>
      <br>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}