{% extends "base.html" %}

{% block content %}
<nav class="breadcrumb has-arrow-separator is-right" aria-label="breadcrumbs">
    <ul>
        <li><a href="{{ url_for('producto.productos') }}">Platillos</a></li>
        <li class="is-active"><a href="#" aria-current="Receta">Receta</a></li>
    </ul>
</nav>
<h3 class="title">Receta de {{nombre_producto}}</h3><br>
<div class="column is-centered">
    <img src="data:image/png;base64,{{ imagen_producto }}" alt="{{nombre_producto}}" style="height: 150px;">
</div>
<br>
<div class="columns is-mobile is-centered">
    <table class="table is-striped is-fullwidth is-narrow is-hoverable">
    <thead>
         <tr>
            <th>Insumo</th>
            <th>Cantidad</th>
            <th>Unidad</th>
            {% if current_user.has_role("ADMINISTRADOR") %}
            <th>Eliminar</th>
            {%endif%}
        </tr>
    </thead>
    <tbody>
        {%for row in recetas%}
        <tr>
            <td class="is-vcentered">{{row.materia_prima.nombre}}</td>
            <td class="is-vcentered">{{row.cantidad}}</td>
            <td class="is-vcentered">{{row.medida}}</td>
            {% if current_user.has_role("ADMINISTRADOR") %}
            <td class="is-vcentered"><a href="eliminaringrediente?id={{row.id}}" class="button is-danger">Eliminar</a></td>
            {%endif%}
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>
<br>
<div class="column is-6 is-centered is-offset-3">
    <label class="label">Preparacion:</label>
        <div class="control">
            <textarea class="textarea is-info prod-textarea" name="preparacion" style="text-transform: uppercase;" readonly>{{preparacion_producto}}</textarea>
        </div>
</div>

{% if current_user.has_role("ADMINISTRADOR") %}
<div class="column is-6 is-offset-3">
    <h3 class="title">Nuevo ingrediente</h3>
    <form method="POST" action="/producto/registraringrediente">
        <input class="input is-info" type="hidden" name="producto_id_nuevo" value="{{id_producto}}" hidden readonly>
        <div class="field">
            <label class="label">Ingrediente:</label>
            <div class="control">
                <div class="select is-rounded">
                    <select name="materia_nueva" id="materia_nueva" required>
                        {%for row in materias%}
                        <option value="{{row.id}}">{{row.nombre}} ({{row.medida}})</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Cantidad:</label>
            <div class="control">
                <input class="input is-info" type="number" name="cant_nueva" min="1" max="1000" step="any" required pattern="[0-9\.]*" title="Solo se permiten números">
            </div>
        </div>
        <button class="button is-block is-info is-fullwidth">Guardar ingrediente</button>
        <br>
        <a class="button is-block is-danger is-fullwidth" href="{{ url_for('producto.productos') }}">Cancelar</a>
    </form>

</div>
{%endif%}

{% endblock %}