{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
  <br>
  <h3 class="title">Modificar Producto</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-warning">
      {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/producto/modificarproducto" enctype="multipart/form-data">

        <div class="field">
            <label class="label">ID:</label>
            <div class="control">
              <input class="input is-medium is-info" type="text" name="id" style="text-transform: uppercase;" maxlength="20" value="{{id}}" readonly>
            </div>
        </div>

        <div class="field">
        <label class="label">Nombre:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="nombre" style="text-transform: uppercase;" maxlength="20" value="{{nombre}}">
        </div>
      </div>

      <div class="field">
        <label class="label">Descripción:</label>
        <div class="control">
          <input class="input is-medium is-info" type="text" name="descripcion" style="text-transform: uppercase;" maxlength="100" value="{{descripcion}}">
        </div>
      </div>

      <div class="field">
        <label class="label">Preparacion:</label>
        <div class="control">
          <textarea class="textarea is-info" name="preparacion" style="text-transform: uppercase;">{{preparacion}}</textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Imagen actual:</label>
        <img src="data:image/png;base64,{{ url }}" alt="{{nombre}}" style="height: 150px;">
      </div>

      <div class="field">
        <label class="label">Nueva imagen:</label>
        <div class="control">
          <input type="file" name="imagen" id="imagen" accept="image/*" class="control is info">
          <input type="hidden" id="imagen_b64" name="imagen_b64">
        </div>
      </div>

      <label class="label">Merma esperada:</label>
      <div class="field has-addons">
        <p class="control">
          <span class="button is-static is-medium">
            $
          </span>
        </p>
        <p class="control is-expanded">
          <input class="input is-medium is-info" type="number" min="1" max="1000"  name="merma_esperada" step="any" value="{{merma_esperada}}">
        </p>
      </div>

      <label class="label">Precio:</label>
      <div class="field has-addons">
        <p class="control">
          <span class="button is-static is-medium">
            $
          </span>
        </p>
        <p class="control is-expanded">
          <input class="input is-medium is-info" type="number" min="1" max="1000"  name="precio" step="any" value="{{precio}}">
        </p>
      </div>

      <button class="button is-block is-warning is-medium is-fullwidth">Modificar producto</button>
      <br>
      <a class="button is-block is-danger is-medium is-fullwidth" href="{{ url_for('producto.productos') }}">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}