{% extends "base.html" %}

{% block content %}
<h3 class="title">Platillos</h3><br>
<div class="buttons">
    {% if current_user.has_role("ADMINISTRADOR") %}
    <a href="{{ url_for('producto.registrarproducto') }}" class="button is-success is-right">Agregar nuevo platilo</a></td>
    {% endif %}
    <a href="{{ url_for('producto.productosinactivos') }}" class="button is-info is-right">Ver platillos inactivos </a></td>
    <form method="POST" action="/producto/buscarproducto">
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" name="parametro">
            </div>
            <div class="control">
                <button class="button is-info">
                    Buscar
                </button>
            </div>
        </div>
    </form>
</div>

<br>
<div class="columns is-mobile is-centered">
    <table class="table table is-striped">
    <thead>
         <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Preparación</th>
            <th>Imagen</th>
            <th>Merma</th>
            <th>Precio</th>
            <th>Receta</th>
            {% if current_user.has_role("ADMINISTRADOR") %}
            <th>Eliminar</th>
            <th>Modificar</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {%for row in productos%}
        <tr>
            <td class="is-vcentered">{{row.id}}</td>
            <td class="is-vcentered">{{row.nombre}}</td>
            <td class="is-vcentered">{{row.descripcion}}</td>
            <td class="is-vcentered">{{row.preparacion}}</td>
            <td class="is-vcentered"><img src="data:image/png;base64,{{ row.url }}" alt="{{row.nombre}}" style="height: 90px;"></td>
            <td class="is-vcentered">${{row.merma_esperada}}</td>
            <td class="is-vcentered">${{row.precio}}</td>
            {% if current_user.has_role("ADMINISTRADOR") %}
            <td class="is-vcentered"><a href="guardarreceta?id={{row.id}}" class="button is-success">Receta</a></td>
            <td class="is-vcentered"><a href="eliminarproducto?id={{row.id}}" class="button is-danger">Eliminar</a></td>
            <td class="is-vcentered"><a href="modificarproducto?id={{row.id}}" class="button is-info"></i>Modificar</a></td>
            {% endif %}
        </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

{% endblock %}