{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
  <div class="is-centered">
    <img src="../static/img/logo.jpg " style="height: 150px;"/>
  </div>
  <br>
  <h3 class="title">Registro</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/security/register">

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="nombre" placeholder="Nombre" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_paterno" placeholder="Apellido Paterno" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="apellido_materno" placeholder="Apellido Materno" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="domicilio" placeholder="Domicilio" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label>Fecha de nacimiento:</label>
          <div class="select is-rounded" name="dia" placeholder="Dia">
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>12</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
          </div>
          <div class="select is-rounded" name="mes" placeholder="Mes">
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>12</option>
              <option>12</option>
            </select>
          </div>
          <div class="select is-rounded" name="annio" placeholder="Año">
            <select>
              <option>2005</option>
              <option>2004</option>
              <option>2003</option>
              <option>2002</option>
              <option>2001</option>
              <option>2000</option>
              <option>1999</option>
              <option>1998</option>
              <option>1997</option>
              <option>1996</option>
              <option>1995</option>
              <option>1994</option>
              <option>1993</option>
              <option>1992</option>
              <option>1991</option>
              <option>1990</option>
              <option>1989</option>
              <option>1988</option>
              <option>1987</option>
              <option>1986</option>
              <option>1985</option>
              <option>1984</option>
              <option>1983</option>
              <option>1982</option>
              <option>1981</option>
              <option>1980</option>
              <option>1979</option>
              <option>1978</option>
              <option>1977</option>
              <option>1976</option>
              <option>1975</option>
              <option>1974</option>
              <option>1973</option>
              <option>1971</option>
              <option>1970</option>
              <option>1969</option>
              <option>1968</option>
              <option>1967</option>
              <option>1966</option>
              <option>1965</option>
              <option>1964</option>
              <option>1963</option>
              <option>1962</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="telefono" placeholder="Teléfono" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="text" name="rfc" placeholder="RFC" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="email" name="correo" placeholder="Correo Electronico" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-medium is-info" type="password" name="constrasennia" placeholder="Contraseña">
        </div>
      </div>

      <button class="button is-block is-info is-medium is-fullwidth">Registrar</button>
    </form>
  </div>
</div>
{% endblock %}