{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Registro</h3>
  <div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/security/register">

      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="nombre" placeholder="Nombre" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="apellido_paterno" placeholder="Apellido Paterno" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="apellido_materno" placeholder="Apellido Materno" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="domicilio" placeholder="Domicilio" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label>Fecha de nacimiento</label>
          <input class="input is-large" type="text" name="dia" placeholder="Dia" autofocus="">
          <input class="input is-large" type="text" name="mes" placeholder="Mes" autofocus="">
          <input class="input is-large" type="text" name="annio" placeholder="Año" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="telefono" placeholder="Teléfono" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-large" type="text" name="rfc" placeholder="RFC" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-large" type="email" name="correo" placeholder="Correo Electronico" autofocus="">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="input is-large" type="password" name="constrasennia" placeholder="Contraseña">
        </div>
      </div>

      <button class="button is-block is-info is-large is-fullwidth">Registrar</button>
    </form>
  </div>
</div>
{% endblock %}